/* Universal Selector */
* {
  font-family: "Roboto", sans-serif;
}

/* Type Selector */
h1, p {
  font-family: "Montserrat", sans-serif;
}

#profile {
    height: 250px;
    width: 250px;
    border-radius: 75%;
    border: 10px solid #ffff;
}

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f29e03;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='60' height='60' fill-opacity='0.62' fill='%23ffa61d'/%3E%3C/svg%3E");
    /* background-attachment: fixed; */
    /* background-size: cover; */
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border-radius: 5px; */
}

.fa-brands, .fa-globe {
    padding: 10px;
    color: gray;
}

.fa-brands:hover , .fa-globe:hover {
    color: blue;

}
